# Update with the ngrok url returned when you ran `ngrok http 8080` on the server folder
REACT_APP_VERIFICATION_SERVER_PUBLIC_URL="https://add-your-free-ngrok-app.ngrok-free.app"

# Update with the project id created at https://cloud.walletconnect.com/
REACT_APP_WALLET_CONNECT_ID="your-unique-wallet-connect-project-id"

REACT_APP_VERIFICATION_SERVER_LOCAL_HOST_URL="http://localhost:8080"