# Update HOSTED_SERVER_URL with the ngrok url returned when you run `ngrok http 8080`
HOSTED_SERVER_URL="https://add-your-free-ngrok-app.ngrok-free.app"

# Update RPC_URL_MUMBAI with your Polygon Mumbai API Key: https://alchemy.com/?r=zU2MTQwNTU5Mzc2M
RPC_URL_MUMBAI="https://polygon-mumbai.g.alchemy.com/v2/your-api-key"

FRONTEND_URL="http://localhost:3000"
VERIFIER_DID="did:polygonid:polygon:mumbai:2qDyy1kEo2AYcP3RT4XGea7BtxsY285szg6yP9SPrs"